#form for user to edit blog post
<%form_for @post, url:{action: "edit"}, html:{class:"newform"} do |f| %>
<p>
<%=f.text_field (:title, {:class => "form-control"})%><br>
<%=f.text_area (:content, {:class => "form-control"})%><br>
<%=f.submit "Create"%>
</p>
<%end%>
